<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Interface </title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="style/style.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
       
  
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
   
      
        </head>
        <body>
            
            <div class="container" ng-app="MyApp" ng-controller="MainController">
                <div class="row">
        
        <button type="submit" class="btn btn-primary" ng-click="upload1()">Upload model 1</button>
          <button type="submit" class="btn btn-primary" ng-click="upload2()">Upload model 2</button>
            <button type="submit" class="btn btn-danger" ng-click="check()">Check</button>
                <button type="submit" class="btn btn-success" ng-click="save()">Save result</button>
                    
                </div>

                <div class="row"> 
                    <div class="form-group edit"> 
                        <button type="submit" class="btn btn-warning btn-sm" ng-click="add()">Add</button>
                        <button type="submit" class="btn btn-warning btn-sm" ng-click="edit()">Edit</button>
                        <button type="submit" class="btn btn-warning btn-sm" ng-click="delete()">Delete</button> 
                    </div> 
                </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Model 1 (old library version):</h3>
                        </div>
                            <textarea id="baseText"> </textarea>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Model 2 (new library version):</h3>
                        </div>

                            <textarea id="newText"> </textarea>

                    </div>
                    </div>
            
            
        </body>
    </html>